@import url("cockpit.css");

$systembar_bg-color: #0486e0;
$systembar_hover-bg-color: #ce724b;
$systembar_selected-bg-color: #c76840;

body {
    background:url('images/logo.png') repeat #A2A7B8;
}

.yw-systemBarContainer {
    .yw-systemItemsContainer {
/*
        background: url(images/sys_logo.png);
	    background-position: 0 -23px;
	    width: 280px;
	    height: 40px;
	    margin-top: 5px;
*/
        .z-toolbarbutton {
            display: none;
        }
    }
}

.yw-systemBarContainer .yw-statusToolbar div.yw-logoContainer {
    background: url(images/sys_logo.png);    
    /* background-position: 0 0px; */
    width: 163px;
    height: 40px;
    margin-top: 5px;
}

.yw-com_hybris_cockpitng_widgets_common_systembar div.yw-systemBarContainer,
.yw-systemBarContainer .yw-perspective-breadcrumb.yw-perspective-breadcrumb-expanded,
.yw-perspective-popup tbody.z-treechildren,
.yw-roleChooser-popup .z-listbox-body .z-listbox-emptybody td,
.yw-quickToggleLocale .yw-quickToggleLocale-cl {
    background-color: $systembar_bg-color;
}

.yw-systemBarContainer .yw-statusToolbar .widget_cnt .z-toolbarbutton,
.yw-systemBarContainer .yw-statusToolbar a.z-toolbarbutton,
.yw-perspective-popup tr.z-treerow {
    &:hover, 
    &:focus, 
    &:active {
        background-color: $systembar_hover-bg-color;
    }
}

.yw-quickToggleLocale .z-popup-content,
.yw-roleChooser-popup .z-popup-content {
    .z-listitem {
        &, &:hover,
        &.z-listitem-selected, &.z-listitem-selected:hover {
            background-color: $systembar_bg-color;
        }
        .z-listcell {
            &:hover {
                background-color: $systembar_hover-bg-color;
            }
        }
        &.z-listitem-selected .z-listcell {
            background-color: $systembar_selected-bg-color;
            &:hover {
                background-color: $systembar_hover-bg-color;
            }
        }
    }
}